
<h1><%= title %></h1>

<section class="vehicle-detail">
  <%- detailHtml %>
</section>

<%- include('../partials/flash-messages') %>

<%- include('../partials/reviews', { 
      vehicle, 
      comments, 
      avg_rating, 
      total_reviews, 
      account, 
      messages 
}) %>
